@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">

            @Html.Action("ContactMenuPartial", "Contact")

            <!-- /.col -->
            <div class="col-md-9">
                @using (Html.BeginForm("NewMessage", "Message", FormMethod.Post))
                {
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Yeni Mesaj Oluştur</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                @Html.Label("Alıcı:")
                                @Html.TextBoxFor(m => m.ReceiverMail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ReceiverMail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Konu:")
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Mesajınız")

                                <textarea id="compose-textarea" name="MessageContent" class="form-control" style="height: 300px"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-default btn-file">
                                    <i class="fas fa-paperclip"></i> Dosya Ekle
                                    <input type="file" name="attachment">
                                </div>
                                <p class="help-block">Max. 32MB</p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" formmethod="post" name="button" value="draft" class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i> Taslaklara Kaydet</button>
                                <button type="submit" name="button" value="add" class="btn btn-success"><i class="far fa-envelope"></i> Gönder</button>
                            </div>
                            <button type="submit" name="button" value="cancel" class="btn btn-default"><i class="fas fa-times"></i> İptal Et</button>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                }
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
