@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{

    <div class="row">


        <div class="col-md-12">

            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Yeni Yazar Ekleme</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Yazar Adı</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Name)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Yazar Soyadı</label>
                                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Surname)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Resim</label>
                                    @Html.TextBoxFor(m => m.Picture, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Picture)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Mail</label>
                                    @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Mail)
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Hakkında</label>
                                    @Html.TextAreaFor(m => m.WriterAbout, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.WriterAbout)
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-default float-right">Kaydet</button>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>

        </div>

    </div>


}

