@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Yazar Güncelleme</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>ID</label>
                                    @Html.TextBoxFor(m => m.WriterId, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Yazar Adı</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Yazar Soyadı</label>
                                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Surname, null, new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Yazar Ünvan</label>
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Resim</label>
                                    @Html.TextBoxFor(m => m.Picture, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Picture, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Mail</label>
                                    @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Mail, null, new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Hakkında</label>
                                    @Html.TextAreaFor(m => m.WriterAbout, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.WriterAbout, null, new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div>
                            <button type="submit" class="btn btn-warning float-right">Güncelle</button>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>

        </div>

    </div>


}

